<template>
  <div>

  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Test extends Vue {}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>