<template>
  <div class="custom-search-com">
    <SectionContainer :padding="'15 15 15 15'"> </SectionContainer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import SectionContainer from '@/components/global/SectionContainer.vue';

@Component({
  components: {
    SectionContainer,
  },
})
export default class CustomSearchContainer extends Vue {}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.custom-search-com {
  width: 250px;
  height: 100vh;
  background-color: $c-assist2;
}
</style>
