<template>
  <div class="input-wrapper custom-input-same">

    <label class="input-label">{{ $attrs.labelName }}</label>
    <el-input v-model="innerValue"
              @input="$emit('input', innerValue)"
              @blur="validateSingleInput"
              class="remove-ie-icon"
              type="textarea"
              :rows="$attrs.rows" />

    <div class="err-wrapper">
      <i class="el-icon-close err-icon"
         v-show="errMsg !== ''"></i><span class="err-text">{{errMsg}}</span>
    </div>

  </div>
</template>

<script lang="ts">
// 封裝input輸入框，多了眼睛icon的
// e.g.
// <CustomPwdInput v-model="..."
//              labelName="員工編號"
//              :ruleList="['isEmpty', 'stringLength:4']"
//              ref="eeId" />
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

// helper
import { Validator } from '@/utils/validatorHelper';

// interface
import { IvalidateParams, IvalidateResult } from '@/interface/validateTyping';

@Component({})
export default class CustomInput extends Vue {
  @Prop({ default: 'normal' })
  public size: string;

  @Prop({ default: '' })
  public pwdErr: string;

  @Prop({ default: '' })
  public value: string;
  public innerValue: string = this.value;

  // 是否通過驗證
  public isPassValidate: boolean = false;

  // 是否顯示密碼
  public pwdType: string = 'password';

  public showPwd(): void {
    this.pwdType = 'text';
  }

  public hidePwd(): void {
    this.pwdType = 'password';
  }

  // 表單錯誤訊息變數
  public errMsg: string = '';

  public validateSingleInput(): void {
    const validator = new Validator();

    const params: any = {
      value: this.innerValue,
      inputName: this.$attrs.labelName,
      ruleList: this.$attrs.ruleList,
    };

    validator.add(params);

    const result: IvalidateResult = validator.start();

    if (result.errInfo !== '') {
      this.errMsg = result.errInfo;
      this.isPassValidate = false;
    } else {
      this.errMsg = '';
      this.isPassValidate = true;
    }
  }

  public created() {
    // 由父層觸發
    this.$on('triggerValidate', this.validateSingleInput);
  }

  @Watch('value')
  public setValue() {
    this.innerValue = this.value;
  }
}
</script>
