<template>
  <div class="custom-select-com custom-input-same">
    <label class="input-label">{{ $attrs.labelName }}</label>
    <el-select class="custom-selector"
               v-model="innerValue"
               @input="$emit('input', innerValue);"
               @change="collectValueAndValidate"
               placeholder=""
               multiple
               collapse-tags>
      <el-option v-for="item in allOptions"
                 :key="item.value"
                 :label="item.label"
                 :value="item.value"
                 :disabled="item.disabled">
      </el-option>
    </el-select>

    <span class="err-wrapper"
          v-show="errMsg !== ''">
      <span class="err-text">{{errMsg}}</span>
    </span>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

// helper
import { Validator } from '@/utils/validatorHelper';

// interface
import { IvalidateParams, IvalidateResult } from '@/interface/validateTyping';

@Component({})
export default class CustomSelectMultiple extends Vue {
  @Prop({
    default: () => {
      return { placeholder: '請輸入', options: [] };
    },
  })
  public selectorConfig: any;

  @Prop({ default: () => [] })
  public value: string[];
  public innerValue: string[] = this.value;

  // 是否通過驗證
  public isPassValidate: boolean = false;

  // 表單錯誤訊息變數
  public errMsg: string = '';

  //

  public get allOptions() {
    let defaultOptions: any[] = [
      {
        label: '請選擇',
        value: null,
        disabled: true,
      },
    ];

    if (this.selectorConfig.options) {
      defaultOptions = [...defaultOptions, ...this.selectorConfig.options];
    }

    return defaultOptions;
  }

  public collectValueAndValidate(idList: string[]) {
    // 也許需要做什麼處理先留一個function ---2019-12-15
    this.collectValue(idList);

    // 沒有驗證規則就return
    if (!this.$attrs.ruleList) {
      return;
    } else {
      this.validateSingleInput();
    }
  }

  public collectValue(idList: string[]) {
    this.$emit('handleIdList', idList);
  }

  public validateSingleInput(): void {
    const validator = new Validator();

    const params: any = {
      value: this.innerValue,
      inputName: this.$attrs.labelName,
      ruleList: this.$attrs.ruleList,
    };

    validator.add(params);

    const result: IvalidateResult = validator.start();

    if (result.errInfo !== '') {
      this.errMsg = result.errInfo;
      this.isPassValidate = false;
    } else {
      this.errMsg = '';
      this.isPassValidate = true;
    }
  }

  public created() {
    this.$on('triggerValidate', this.validateSingleInput);

    this.collectValue(this.innerValue);
  }

  @Watch('value')
  public setValue() {
    this.innerValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.custom-select-com {
  display: inline-block;
  position: relative;

  .custom-selector {
    width: 240px;
  }

  // .mock-label {
  //   position: absolute;
  //   top: 50%;
  //   left: 16px;
  //   transform: translateY(-50%);
  //   @include font-style($c-assist3, $login-ph, $fw-300);
  //   transition: 0.5s;
  // }

  .input-label {
    // @include font-style($c-assist3, $login-ph, $fw-300);
    display: inline-block;
    width: 150px;
  }

  .hasText {
    top: -20px;
    left: 0px;
    transform: translateY(0%);
    @include font-style($c-main1, $fs-12, $fw-700);
  }
}

.err-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;

  .err-icon {
    margin-right: 5px;
    @extend .align-v;
    width: 20px;
  }

  .err-text {
    @extend .align-v;
    @include font-style($c-warning, $fs-12, $fw-400);
  }
}
</style>