<template>
  <div class="custom-input-type-input custom-input-same">
    <label class="input-label">{{ $attrs.labelName }}</label>
    <el-input v-model="innerValue"
              @input="$emit('input', innerValue);"
              @blur="validateSingleInput"
              :type="$attrs.type" />
    <div class="err-wrapper">
      <i class="el-icon-close err-icon"
         v-show="errMsg !== ''"></i><span class="err-text">{{errMsg}}</span>
    </div>
  </div>
</template>

<script lang="ts">
// 封裝input輸入框
// e.g.
// <CustomInput v-model="..."
//              labelName="員工編號"
//              :ruleList="['isEmpty', 'stringLength:4']"
//              ref="eeId" />
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

// helper
import { Validator } from '@/utils/validatorHelper';

// interface
import { IvalidateParams, IvalidateResult } from '@/interface/validateTyping';

@Component({})
export default class CustomInput extends Vue {
  @Prop({ default: 'normal' })
  public size: string;

  @Prop({ default: () => [] })
  public ruleList: string[];

  @Prop({ default: '' })
  public value: string;
  public innerValue: string = this.value;

  // 是否通過驗證
  public isPassValidate: boolean = false;

  // 表單錯誤訊息變數
  public errMsg: string = '';

  public validateSingleInput(): void {
    // 沒有驗證規則就return
    if (this.ruleList.length === 0) {
      return;
    }

    const validator = new Validator();

    const params: any = {
      value: this.innerValue,
      inputName: this.$attrs.labelName,
      ruleList: this.ruleList,
    };

    validator.add(params);

    const result: IvalidateResult = validator.start();

    if (result.errInfo !== '') {
      this.errMsg = result.errInfo;
      this.isPassValidate = false;
    } else {
      this.errMsg = '';
      this.isPassValidate = true;
    }
  }

  public created() {
    // 由父層觸發
    this.$on('triggerValidate', this.validateSingleInput);
  }

  @Watch('value')
  public setValue() {
    this.innerValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>