<template>
  <div>
    modal
  </div>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';

@Component({})
export default class CustomAlert extends Vue {
  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  // 內部狀態
  public dialogSwitch: boolean = false;

  @Emit('closeDialog')
  public closeDialog() {
    console.log('??');
  }

  @Emit('handleAction')
  public handleAction() {
    console.log('??');
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
    console.log(this.dialogSwitch);
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>