<template>
  <div class="custom-date-picker-com custom-input-same">
    <el-date-picker class="custom-date-picker"
                    v-model="innerValue"
                    @input="$emit('input', innerValue)"
                    type="date"
                    placeholder="">
    </el-date-picker>

    <span class="err-wrapper"
          v-show="errMsg !== ''">
      <span class="err-text">{{ errMsg }}</span>
    </span>

    <label class="mock-label"
           :class="{ hasText: innerValue !== '' }">{{
      $attrs.labelName
    }}</label>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

// helper
import { Validator } from '@/utils/validatorHelper';
import { formatValueHelper } from '@/utils/codeConvertHelper';

// interface
import { IvalidateParams, IvalidateResult } from '@/interface/validateTyping';

@Component({})
export default class CustomDatePicker extends Vue {
  @Prop({
    default: () => {
      return { placeholder: '請輸入', options: [] };
    },
  })
  public selectorConfig: any;

  // 是否通過驗證
  public isPassValidate: boolean = false;

  // 表單錯誤訊息變數
  public errMsg: string = '';

  @Prop({ default: () => '' })
  public value: string;
  public innerValue: string = this.value;

  public get allOptions() {
    let defaultOptions: any[] = [
      {
        label: '請選擇',
        value: null,
        disabled: true,
      },
    ];

    if (this.selectorConfig.options) {
      defaultOptions = [...defaultOptions, ...this.selectorConfig.options];
    }

    return defaultOptions;
  }

  // element ui 會返回 Date 物件，驗證會有問題
  public get convertDateToString() {
    return formatValueHelper('timeYMD', this.innerValue);
  }

  public created() {
    this.innerValue = this.selectorConfig.defaultValue;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.custom-date-picker-com {
  display: inline-block;
  position: relative;

  .custom-date-picker {
    width: 240px;
  }

  .mock-label {
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    @include font-style($c-assist3, $login-ph, $fw-300);
    transition: 0.5s;
  }

  .hasText {
    top: -20px;
    left: 0px;
    transform: translateY(0%);
    @include font-style($c-main1, $fs-12, $fw-700);
  }
}

.err-wrapper {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;

  .err-icon {
    margin-right: 5px;
    @extend .align-v;
    width: 20px;
  }

  .err-text {
    @extend .align-v;
    @include font-style($c-warning, $fs-12, $fw-400);
  }
}
</style>
