<template>
  <el-dialog title="新增使用者"
             :visible.sync="dialogSwitch"
             @close="closeDialog">

    <FreeContainer :padding="'0 0 60 0'">

      <CustomInput v-model="form.user"
                   labelName="使用者名稱"
                   :ruleList="['isEmpty', 'stringLength:6']"
                   ref="user" />

      <CustomInput v-model="form.password"
                   labelName="密碼"
                   :ruleList="['isEmpty', 'stringLength:6']"
                   ref="password" />

      <CustomSelectMultiple v-model="form.authGroup"
                            :selectorConfig="authGroupConfig"
                            labelName="權限群組"
                            @handleIdList="handleIdList" />

      <CustomSwitch v-model="form.isAdmin"
                    labelName="管理者" />

    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button class="re-normal-btn"
                 type="primary"
                 round
                 plain
                 @click="registerUser">新增</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';

import { Iregister } from '@/interface/userTyping';
import { IauthGroupList } from '@/interface/authGroupTyping';

import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
  },
})
export default class CreateUserDialog extends Vue {
  @(namespace('authGroupStore').Getter)
  public formatAuthGroupList: any;
  @(namespace('authGroupStore').Action)
  public getAuthGroupList: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  public from: Iregister = {
    user: '',
    password: '',
    authGroup: [],
    isAdmin: false,
  };

  // 被選中權限陣列
  public selectedAuth: string[] = [];
  // 儲存權限選項陣列
  public authOptionList: any[] = [];
  // 權限比對物件
  public authOptionObj: { [key: string]: string } = {};

  public form: Iregister = {
    user: '',
    password: '',
    authGroup: [],
    isAdmin: false,
  };

  // 內部狀態
  public dialogSwitch: boolean = false;

  public get authGroupConfig() {
    if (this.formatAuthGroupList.items.length === 0) {
      return {
        key: '',
        type: 'selector',
        placeholder: '',
        defaultValue: '',
        options: [],
      };
    }

    this.authOptionList = this.formatAuthGroupList.items.map((item: any) => {
      return {
        label: item.groupName,
        value: item._id,
      };
    });

    this.formatAuthGroupList.items.forEach((item: any) => {
      this.authOptionObj[item.auth_id] = item.auth_name;
    });

    return {
      key: '',
      type: 'selector',
      placeholder: '',
      defaultValue: '',
      options: this.authOptionList,
    };
  }

  public handleIdList(idList: string[]) {
    this.form.authGroup = idList;
    this.selectedAuth = [];

    idList.forEach((ele: string) => {
      const authNameById: string = this.authOptionObj[ele];
      this.selectedAuth.push(authNameById);
    });
  }

  public clearValue() {
    this.form.user = '';
    this.form.password = '';
    this.form.authGroup = [];
    this.form.isAdmin = false;
  }

  public closeDialog(reload: boolean = false) {
    this.clearValue();

    if (reload) {
      this.$emit('closeDialogAndReload', this.$attrs.type);
    } else {
      this.$emit('closeDialog', this.$attrs.type);
    }
  }

  public async registerUser() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    try {
      await userService.registerUserAPI(this.form);

      this.closeDialog(true);
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchAuthGroupList() {
    const payload: IauthGroupList = {
      condition: {
        beginAt: '',
        endAt: '',
        groupName: '',
        orderRule: [],
      },
      pager: {
        pageIndex: 1,
        pageSize: 1000, // 要搜尋全部，hardcode一個大數字
      },
    };

    try {
      this.getAuthGroupList(payload);
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    this.fetchAuthGroupList();
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>