<template>
  <el-dialog title="修改使用者密碼"
             :visible.sync="dialogSwitch"
             @close="closeDialog">

    <FreeContainer :padding="'0 0 60 0'">

      <CustomInput v-model="form.password"
                   labelName="密碼"
                   :ruleList="['isEmpty', 'stringLength:6']"
                   ref="password" />

    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button class="re-normal-btn"
                 type="primary"
                 round
                 plain
                 @click="editUserPwd">確認修改</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';

import { IeditUserPwd } from '@/interface/userTyping';

import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
  },
})
export default class CreateUserDialog extends Vue {
  @Prop({ default: () => {} })
  public currRowData: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  public form: IeditUserPwd = {
    id: '',
    password: '',
  };

  // 內部狀態
  public dialogSwitch: boolean = false;

  public clearValue() {
    this.form.id = '';
    this.form.password = '';
  }

  public closeDialog(reload: boolean = false) {
    this.clearValue();
    this.$emit('closeDialog', this.$attrs.type);
  }

  public async editUserPwd() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    const payload: IeditUserPwd = {
      id: this.currRowData._id,
      password: this.form.password,
    };

    try {
      await userService.editUserPasswordAPI(payload);
      this.closeDialog(true);
    } catch (e) {
      console.log(e);
    }
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>