.custom-input-same {
  display: inline-block;
  width: 100%;
  & + & {
    margin-top: 10px;
  }

  .input-label {
    @include font-style($c-assist3, 14px, 400);
    display: inline-block;
    width: 100%;
  }

  .el-select {
    width: 100%;
  }
}

.err-wrapper {
  text-align: right;
  height: 20px;

  .err-icon {
    margin-right: 5px;
    @extend .align-v;
    width: 20px;
  }

  .err-icon {
    @extend .align-v;
    margin-right: 0px;
    @include font-style($c-warning, $fs-12, $fw-400);
  }

  .err-text {
    @extend .align-v;
    @include font-style($c-warning, $fs-12, $fw-400);
  }
}
