// 覆蓋element ui樣式，但又不能直接修改樣式

// btn 的各種格式
.re-small-btn {
  width: 70px;
  height: 24px;
  padding: 6px 20px;

  /deep/ span {
    display: inline-block;
    font-size: $fs-12;
  }
}

.re-small-btn.el-button {
  padding: 6px 20px;
}

.re-normal-btn {
  width: 120px;
  height: 40px;
}

.re-large-btn {
  width: 160px;
  height: 50px;
}
