// https://colorhunt.co/palette/154142

// main
$c-main1: #4682b4;
$c-main2: #333948;
$c-main3: #322d41;

// main-rgba
$c-main1-rgba: #000;
$c-main2-rgba: #000;

// assist
$c-assist1: #f5f5f5;
$c-assist2: #cccccc;
$c-assist3: #969696;
$c-assist4: #222222;
$c-assist5: #f9f9f9;

// highlight
$c-highlight1: #fae182;

// assist-rgba
$-assist1-rgba: #000;
$-assist2-rgba: #000;

// pure white/black
$c-white: #ffffff;
$c-black: #000000;

// text
$c-text1: #555;
$c-text2: #000;

// warning
$c-warning: #c81414;

// error
$c-error: #000;

// others
$c-other1: #000;
$c-other2: #000;

// --- custom ---

$c-aside: #322d41;
$c-latout-bg: #f9f9f9;

// --- elemenut ui ---

$element-ui-defalut-gray: #dcdfe6;

$c-red: #cd5c5c;
$c-green: #3cb371;
