* {
  font-family: Microsoft JhengHei, 微軟正黑體, 'PingFang TC', Microsoft JhengHei, Arial, Helvetica, sans-serif;
}

// login placeholder
$login-ph: 14px;

$fs-60: 60px;
$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-11: 11px;

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

h1 {
  font-size: $fs-60;
}

h2 {
  font-size: $fs-32;
}

h3 {
  font-size: $fs-28;
}

h4 {
  font-size: $fs-24;
}

h5 {
  font-size: $fs-20;
}

h6 {
  font-size: $fs-16;
}
