<template>
  <div v-if="hasAuth['G11']">
    <ToolBar :showLeftSlot="true"
             :showRightSlot="true"
             :mb="true">
      <template #tool-bar-left>
        <CustomSearch :searchConfig="searchConfig"
                      @handlSearchParams="handlSearchParams" />
      </template>
      <template #tool-bar-right>
        <el-button v-if="hasAuth['G21']"
                   type="success"
                   round
                   plain
                   icon="el-icon-circle-plus-outline"
                   @click="openDialog('create')">新增</el-button>
      </template>
    </ToolBar>
    <CustomTable stripe
                 :showSummary="false"
                 :tableData="formatAuthGroupList"
                 :columnConfig="columnConfig"
                 :operationConfig="operationConfig"
                 @handleOperate="handleOperate"
                 @handleJumpPage="handleJumpPage"
                 @handleAdjustPageSize="handleAdjustPageSize" />
    <CreateAuthGroupDialog :propDialogSwitch="dialogSwitch.create"
                           type="create"
                           @closeDialogAndReload="closeDialogAndReload"
                           @closeDialog="closeDialog" />
    <EditAuthGroupDialog :propDialogSwitch="dialogSwitch.edit"
                         type="edit"
                         :currRowData="currRowData"
                         @closeDialogAndReload="closeDialogAndReload"
                         @closeDialog="closeDialog" />
    <CurrGroupUserDialog :propDialogSwitch="dialogSwitch.groupUser"
                         type="groupUser"
                         :currRowData="currRowData"
                         @closeDialog="closeDialog" />
    <ConfirmDialog :propDialogSwitch="dialogSwitch.delete"
                   btnName="刪除"
                   desc="確認刪除權限群組"
                   title="刪除確認"
                   type="delete"
                   @closeDialog="closeDialog"
                   @handleConfirm="handleDeleteAPI" />
  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import CustomTable from '@/components/custom/CustomTable.vue';
import CustomSearch from '@/components/search/CustomSearch.vue';
import ToolBar from '@/components/global/ToolBar.vue';
import CreateAuthGroupDialog from '@/components/authGroup/CreateAuthGroupDialog.vue';
import EditAuthGroupDialog from '@/components/authGroup/EditAuthGroupDialog.vue';
import CurrGroupUserDialog from '@/components/authGroup/CurrGroupUserDialog.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';
import NoAuth from '@/views/NoAuth.vue';

import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import { IauthGroupList, IremoveAuthGroup } from '@/interface/authGroupTyping';
import { columnConfig, operationConfig, searchConfig } from '@/config/authGroupConfig';
import AuthGroupService from '@/services/authGroupService';
const authGroupService = new AuthGroupService();

@Component({
  components: {
    CustomTable,
    CustomSearch,
    ToolBar,
    CreateAuthGroupDialog,
    EditAuthGroupDialog,
    ConfirmDialog,
    NoAuth,
    CurrGroupUserDialog,
  },
  metaInfo: {
    title: '-權限群組管理',
  },
})
export default class AuthGroup extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('authGroupStore').State)
  public authGroupList: any;
  @(namespace('authGroupStore').Getter)
  public formatAuthGroupList: any;
  @(namespace('authGroupStore').Action)
  public getAuthGroupList: any;

  public payload: IauthGroupList = {
    condition: {
      beginAt: '',
      endAt: '',
      groupName: '',
      orderRule: [],
    },
    pager: {
      pageIndex: 1,
      pageSize: 10,
    },
  };

  public searchConfig = searchConfig;
  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;
  public currRowData: any = {};

  public dialogSwitch: { [key: string]: boolean } = {
    create: false,
    edit: false,
    groupUser: false,
    delete: false,
  };

  public openDialog(type: string) {
    this.dialogSwitch[type] = true;
  }

  public closeDialog(type: string) {
    this.dialogSwitch[type] = false;
  }

  public closeDialogAndReload(type: string) {
    this.closeDialog(type);
    this.fetchAuthGroupList();
  }

  public handleOperate(info: any) {
    this.currRowData = info.row;
    this.openDialog(info.type);
  }

  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchAuthGroupList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchAuthGroupList();
  }

  public handlSearchParams(params: any) {
    const { dateRange, groupName }: { dateRange: string[]; groupName: string } = params;

    this.payload.condition.beginAt = dateRange[0];
    this.payload.condition.endAt = dateRange[1];
    this.payload.condition.groupName = groupName;
    this.payload.pager.pageIndex = 1;

    this.fetchAuthGroupList();
  }

  public async handleDeleteAPI() {
    try {
      const payload: IremoveAuthGroup = {
        id: this.currRowData._id,
      };

      console.log(111);
      await authGroupService.removeGroupAPI(payload);
      console.log(222);
      this.closeDialogAndReload('delete');
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchAuthGroupList() {
    try {
      this.getAuthGroupList(this.payload);
    } catch (e) {
      console.log(e);
      // badResHelper(e);
    }
  }

  public created() {
    this.fetchAuthGroupList();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>