<template>
  <div v-if="hasAuth['A11']">
    <ToolBar :showLeftSlot="true"
             :showRightSlot="true"
             :mb="true">
      <template #tool-bar-left>
        <CustomSearch :searchConfig="searchConfig"
                      @handlSearchParams="handlSearchParams" />
      </template>
      <template #tool-bar-right>
        <el-button v-if="hasAuth['A21']"
                   type="success"
                   round
                   plain
                   icon="el-icon-circle-plus-outline"
                   @click="openDialog('create')">新增</el-button>
      </template>
    </ToolBar>
    <CustomTable stripe
                 :showSummary="false"
                 :tableData="formatAuthList"
                 :columnConfig="columnConfig"
                 :operationConfig="operationConfig"
                 @handleOperate="handleOperate"
                 @handleJumpPage="handleJumpPage"
                 @handleAdjustPageSize="handleAdjustPageSize" />
    <CreateAuthDialog :propDialogSwitch="dialogSwitch.create"
                      type="create"
                      :searchConfig="searchConfig"
                      @closeDialogAndReload="closeDialogAndReload"
                      @closeDialog="closeDialog" />
    <EditAuthDialog :propDialogSwitch="dialogSwitch.edit"
                    type="edit"
                    :currRowData="currRowData"
                    :searchConfig="searchConfig"
                    @closeDialogAndReload="closeDialogAndReload"
                    @closeDialog="closeDialog" />
    <ConfirmDialog :propDialogSwitch="dialogSwitch.delete"
                   btnName="刪除"
                   desc="確認刪除權限"
                   title="刪除確認"
                   type="delete"
                   @closeDialog="closeDialog"
                   @handleConfirm="handleDeleteAPI" />
  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import CustomTable from '@/components/custom/CustomTable.vue';
import CustomSearch from '@/components/search/CustomSearch.vue';
import ToolBar from '@/components/global/ToolBar.vue';
import CreateAuthDialog from '@/components/auth/CreateAuthDialog.vue';
import EditAuthDialog from '@/components/auth/EditAuthDialog.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';
import NoAuth from '@/views/NoAuth.vue';

import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import { IgetAuthList, IauthRemove } from '@/interface/authTyping';
import { columnConfig, operationConfig, searchConfig } from '@/config/authConfig';
import AuthService from '@/services/authService';
const authService = new AuthService();

@Component({
  components: {
    CustomTable,
    CustomSearch,
    ToolBar,
    CreateAuthDialog,
    EditAuthDialog,
    ConfirmDialog,
    NoAuth,
  },
  metaInfo: {
    title: '-權限管理',
  },
})
export default class Auth extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('authStore').State)
  public authList: any;
  @(namespace('authStore').Getter)
  public formatAuthList: any;
  @(namespace('authStore').Action)
  public getAuthList: any;

  public payload: IgetAuthList = {
    condition: {
      belongGroup: '',
      orderRule: [],
    },
    pager: {
      pageIndex: 1,
      pageSize: 10,
    },
  };

  public searchConfig = searchConfig;
  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;
  public currRowData: any = {};

  public dialogSwitch: { [key: string]: boolean } = {
    create: false,
    edit: false,
    delete: false,
  };

  public openDialog(type: string) {
    this.dialogSwitch[type] = true;
  }

  public closeDialog(type: string) {
    this.dialogSwitch[type] = false;
  }

  public closeDialogAndReload(type: string) {
    this.closeDialog(type);
    this.fetchAuthList();
  }

  public handleOperate(info: any) {
    this.currRowData = info.row;
    this.openDialog(info.type);
  }

  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchAuthList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchAuthList();
  }

  public handlSearchParams(params: any) {
    const { belongGroup }: { belongGroup: string } = params;

    this.payload.condition.belongGroup = belongGroup;
    this.payload.pager.pageIndex = 1;

    this.fetchAuthList();
  }

  public async handleDeleteAPI() {
    try {
      const payload: IauthRemove = {
        id: this.currRowData._id,
      };

      await authService.removeAuthAPI(payload);

      this.closeDialogAndReload('delete');
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchAuthList() {
    try {
      this.getAuthList(this.payload);
    } catch (e) {
      console.log(e);
      // badResHelper(e);
    }
  }

  public created() {
    this.fetchAuthList();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>