<template>
  <div v-if="hasAuthTwice">
    <CustomInput v-model="form.title"
                 labelName="消息標題"
                 :ruleList="['isEmpty']"
                 ref="user" />

    <CustomTextarea v-model="form.content"
                    labelName="消息內容"
                    :ruleList="['isEmpty']"
                    type="textarea"
                    rows="5"
                    ref="password" />

    <CustomSwitch v-model="form.isShow"
                  labelName="顯示" />

    <div class="btn-wrapper">
      <el-button type="primary"
                 class="re-normal-btn"
                 round
                 plain
                 @click="handleSubmit">{{ btnName }}</el-button>
    </div>
  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomTextarea from '@/components/custom/CustomTextarea.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';
import NoAuth from '@/views/NoAuth.vue';

import { IcreateNews, IgetNews, IeditNews } from '@/interface/newsTyping';
import NewsService from '@/services/newsService';
const newsService = new NewsService();

@Component({
  components: {
    CustomInput,
    CustomTextarea,
    CustomSwitch,
    NoAuth,
  },
})
export default class createEditNews extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('newsStore').State)
  public news: any;
  @(namespace('newsStore').Action)
  public getNews: any;

  public actionType: string = 'create';
  public btnName: string = '新增';

  public form: IcreateNews = {
    title: '',
    content: '',
    isShow: false,
  };

  // 因為新增和編輯同一個頁面，要判斷兩個權限
  public get hasAuthTwice() {
    if (this.actionType === 'create') {
      if (this.hasAuth['N21']) {
        return true;
      }
    } else {
      if (this.hasAuth['N31']) {
        return true;
      }
    }
    return false;
  }

  public setValue() {
    this.form.title = this.news.title;
    this.form.content = this.news.content;
    this.form.isShow = this.news.isShow;
  }

  public judgeAction() {
    const currRouteID: string = this.$route.params.id;

    if (currRouteID !== 'create') {
      this.handleEditAction(currRouteID);
    } else {
      this.handleCreateAction();
    }
  }

  public handleCreateAction() {
    this.actionType = 'create';
    this.btnName = '新增';
  }

  public handleEditAction(newsId: string) {
    this.actionType = 'edit';
    this.btnName = '確認修改';
    this.fetchNewsAPI(newsId);
  }

  public handleSubmit() {
    if (this.actionType === 'create') {
      this.handleCreateNewsAPI();
    } else {
      this.handleEditNewsAPI();
    }
  }

  public async handleCreateNewsAPI() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    try {
      await newsService.createNewsAPI(this.form);
      this.$router.push('/news');
    } catch (e) {
      console.log(e);
    }
  }

  public async handleEditNewsAPI() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    const payload: IeditNews = Object.assign({}, this.form, { id: this.news._id });

    try {
      await newsService.editNewsAPI(payload);
      this.$router.push('/news');
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchNewsAPI(id: string) {
    const payload: IgetNews = {
      id,
    };

    try {
      await this.getNews(payload);
      this.setValue();
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    this.judgeAction();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.btn-wrapper {
  text-align: right;
  margin-top: 30px;
}
</style>
