<template>
  <div v-if="hasAuth['I11']">
    <ToolBar :showLeftSlot="true"
             :showRightSlot="true"
             :mb="true">
      <template #tool-bar-left>

      </template>
      <template #tool-bar-right>
        <el-button v-if="hasAuth['I21']"
                   type="success"
                   round
                   plain
                   icon="el-icon-circle-plus-outline"
                   @click="openDialog('create')">新增</el-button>
      </template>
    </ToolBar>

    <CustomTable stripe
                 :showSummary="false"
                 :tableData="formatImageList"
                 :columnConfig="columnConfig"
                 :showPagination="false"
                 :operationConfig="operationConfig"
                 @handleOperate="handleOperate" />

    <UploadNewImageDialog :propDialogSwitch="dialogSwitch.create"
                          type="create"
                          :currRowData="currRowData"
                          @closeDialogAndReload="closeDialogAndReload"
                          @closeDialog="closeDialog" />

    <EditNewImageDialog :propDialogSwitch="dialogSwitch.edit"
                        type="edit"
                        :currRowData="currRowData"
                        @closeDialogAndReload="closeDialogAndReload"
                        @closeDialog="closeDialog" />

    <ConfirmDialog :propDialogSwitch="dialogSwitch.delete"
                   btnName="刪除"
                   desc="刪除此圖"
                   title="刪除確認"
                   @closeDialog="closeDialog('delete')"
                   @handleConfirm="handleDeleteAPI" />

  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import CustomSearch from '@/components/search/CustomSearch.vue';
import ToolBar from '@/components/global/ToolBar.vue';
import UploadNewImageDialog from '@/components/carousel/UploadNewImageDialog.vue';
import EditNewImageDialog from '@/components/carousel/EditNewImageDialog.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';
import CustomTable from '@/components/custom/CustomTable.vue';
import NoAuth from '@/views/NoAuth.vue';

import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import { columnConfig, operationConfig, searchConfig } from '@/config/imageConfig';

import { IremoveImage, IList } from '@/interface/imageTyping';
import ImageService from '@/services/imageService';
const imageService = new ImageService();

@Component({
  components: {
    CustomTable,
    CustomSearch,
    ToolBar,
    UploadNewImageDialog,
    EditNewImageDialog,
    ConfirmDialog,
    NoAuth,
  },
  metaInfo: {
    title: '-輪播管理',
  },
})
export default class Images extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('imageStore').State)
  public imageList: any;
  @(namespace('imageStore').Getter)
  public formatImageList: any;
  @(namespace('imageStore').Action)
  public getImageList: any;

  public searchConfig: any = searchConfig;
  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;
  public currRowData: any = {};
  public testFile: any;

  public uploadImage() {}

  public dialogSwitch: { [key: string]: boolean } = {
    create: false,
    edit: false,
  };

  public closeDialogAndReload(type: string) {
    this.closeDialog(type);
    this.fetchCarouselList();
  }

  public openDialog(type: string) {
    this.dialogSwitch[type] = true;
  }

  public closeDialog(type: string) {
    this.dialogSwitch[type] = false;
  }

  // public handlSearchParams(params: any) {
  //   console.log('...');
  // }

  public handleOperate(info: any) {
    this.currRowData = info.row;
    this.openDialog(info.type);
  }

  public handleDeleteAPI() {
    if (this.imageList.items.length <= 3 && this.imageList.items.length >= 5) {
      customMsgHelper('error', '為保持前台有一定數量照片可輪播，不可低於三張照片');
      return;
    }

    const payload: IremoveImage = {
      id: this.currRowData._id,
    };

    try {
      imageService.deleteImageAPI(payload);
      this.closeDialogAndReload('delete');
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchCarouselList() {
    try {
      const payload: IList = {
        onlyLink: false,
      };
      await this.getImageList(payload);
    } catch (e) {
      console.log(e);
      // badResHelper(e);
    }
  }

  public created() {
    this.fetchCarouselList();
  }

  public mounted() {
    this.columnConfig = this.columnConfig(this);
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>