<template>
  <div class="login-views"
       @keydown.enter="handleLogin">

    <CenterBox>

      <div class="demo-desc">
        測試帳號: test001, 密碼 : test001
      </div>

      <FreeContainer :padding="'25 25 25 25'"
                     :shadow="'3px 3px 3px #ddd'"
                     :radius="'4px'">
        <p class="login-text">
          Auth Side Project
        </p>
        <CustomInput v-model="form.user"
                     labelName="帳號"
                     :normal="true"
                     :verticalLayout="true"
                     :ruleList="['isEmpty', 'stringLength:4']"
                     ref="user" />
        <CustomPwdInput v-model="form.password"
                        labelName="密碼"
                        :normal="true"
                        :verticalLayout="true"
                        :ruleList="['isEmpty', 'stringLength:4']"
                        ref="password" />
        <div class="btn-wrapper">
          <el-button type="primary"
                     round
                     plain
                     @click="handleLogin">登入</el-button>
        </div>
      </FreeContainer>
    </CenterBox>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import CenterBox from '@/components/global/CenterBox.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomPwdInput from '@/components/custom/CustomPwdInput.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import LoadPermission from '@/mixins/LoadPermission.vue';

import { IuserLogin } from '@/interface/userTyping';
import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  components: {
    CenterBox,
    CustomInput,
    CustomPwdInput,
    FreeContainer,
  },
  metaInfo: {
    title: '-登入',
  },
})
export default class Login extends Mixins(LoadPermission) {
  public form: any = {
    user: '',
    password: '',
  };

  public async handleLogin() {
    const isPass: boolean = (this as any).validateForm(this.$refs);

    if (!isPass) {
      return;
    }

    const payload: IuserLogin = {
      user: this.form.user,
      password: this.form.password,
    };

    try {
      const res: any = await userService.loginAPI(payload);

      // 沒有res表示有錯誤訊息
      if (!res) {
        return;
      }

      if (res.data) {
        for (const item in res.data) {
          window.localStorage.setItem('token', res.data.token);
          window.localStorage.setItem('user', res.data.user);
        }
      }

      await this.loadPermissionAPI();

      this.$router.push('/images');
    } catch (e) {
      console.log(e);
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.login-text {
  font-size: $fs-18;
  font-weight: 700;
  margin-bottom: 30px;
}

.btn-wrapper {
  margin-top: 25px;
  text-align: center;
}

.login-views {
  /deep/ .center-box-main {
    width: 80%;
    max-width: 400px;
  }
}

.demo-desc {
  box-sizing: border-box;
  padding: 30px;
}

.demo-text {
  font-size: $fs-14;
  line-height: 20px;
  word-break: break-all;
}

.demo-link {
  display: inline-block;
  word-break: break-all;
  cursor: pointer;
}
</style>
