<template>
  <div v-if="hasAuth['N11']">
    <ToolBar :showLeftSlot="true"
             :showRightSlot="true"
             :mb="true">
      <template #tool-bar-left>
        <CustomSearch :searchConfig="searchConfig"
                      @handlSearchParams="handlSearchParams" />
      </template>
      <template #tool-bar-right>
        <el-button v-if="hasAuth['N21']"
                   type="success"
                   round
                   plain
                   icon="el-icon-circle-plus-outline"
                   @click="goCreatePage">新增</el-button>
      </template>
    </ToolBar>
    <CustomTable stripe
                 :showSummary="false"
                 :tableData="formatNewsList"
                 :columnConfig="columnConfig"
                 :operationConfig="operationConfig"
                 @handleOperate="handleOperate"
                 @handleJumpPage="handleJumpPage"
                 @handleAdjustPageSize="handleAdjustPageSize" />

    <ConfirmDialog :propDialogSwitch="dialogSwitch.delete"
                   btnName="刪除"
                   desc="確認刪除文章"
                   title="刪除確認"
                   @closeDialog="closeDialog('delete')"
                   @handleConfirm="handleDeleteAPI" />
  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import dayjs from 'dayjs';

import CustomTable from '@/components/custom/CustomTable.vue';
import CustomSearch from '@/components/search/CustomSearch.vue';
import ToolBar from '@/components/global/ToolBar.vue';
import CreateUserDialog from '@/components/user/CreateUserDialog.vue';
import EditUserAuthDialog from '@/components/user/EditUserAuthDialog.vue';
import EditUserPwdDialog from '@/components/user/EditUserPwdDialog.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';
import NoAuth from '@/views/NoAuth.vue';

import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import { IgetNewsList, IremoveNews } from '@/interface/newsTyping';
import { columnConfig, operationConfig, searchConfig } from '@/config/newsConfig';
import NewsService from '@/services/newsService';
const newsService = new NewsService();

@Component({
  components: {
    CustomTable,
    CustomSearch,
    ToolBar,
    CreateUserDialog,
    EditUserAuthDialog,
    EditUserPwdDialog,
    ConfirmDialog,
    NoAuth
  },
  metaInfo: {
    title: '-消息管理',
  },
})
export default class News extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('newsStore').State)
  public newsList: any;
  @(namespace('newsStore').Getter)
  public formatNewsList: any;
  @(namespace('newsStore').Action)
  public getNewsList: any;

  public payload: IgetNewsList = {
    condition: {
      title: '',
      orderRule: [],
      beginAt: '',
      endAt: '',
      showAll: true,
    },
    pager: {
      pageIndex: 1,
      pageSize: 10,
    },
  };

  public searchConfig: any = searchConfig;
  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;
  public currRowData: any = {};

  public dialogSwitch: { [key: string]: boolean } = {
    delete: false,
  };

  public openDialog(type: string) {
    this.dialogSwitch[type] = true;
  }

  public closeDialog(type: string) {
    this.dialogSwitch[type] = false;
  }

  public handleOperate(info: any) {
    this.currRowData = info.row;

    if (info.type === 'edit') {
      this.$router.push({ name: 'createEditNews', params: { id: info.row._id } });
    }

    if (info.type === 'delete') {
      this.openDialog('delete');
    }
  }

  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchNewsList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchNewsList();
  }

  public handlSearchParams(params: any) {
    const { dateRange, title }: { dateRange: string[]; title: string } = params;

    this.payload.condition.beginAt = dateRange[0];
    this.payload.condition.endAt = dateRange[1];
    this.payload.condition.title = title;
    this.payload.pager.pageIndex = 1;

    this.fetchNewsList();
  }

  public goCreatePage() {
    this.$router.push({ name: 'createEditNews', params: { id: 'create' } });
  }

  public async handleDeleteAPI() {
    const { _id }: { _id: string } = this.currRowData;

    const payload: IremoveNews = {
      id: _id,
    };

    try {
      await newsService.removeNewsAPI(payload);
      this.closeDialog('delete');
      this.fetchNewsList();
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchNewsList() {
    try {
      this.getNewsList(this.payload);
    } catch (e) {
      console.log(e);
      // badResHelper(e);
    }
  }

  public created() {
    this.fetchNewsList();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>