<template>
  <div v-if="hasAuth['U11']">
    <ToolBar :showLeftSlot="true"
             :showRightSlot="true"
             :mb="true">
      <template #tool-bar-left>
        <CustomSearch :searchConfig="searchConfig"
                      @handlSearchParams="handlSearchParams" />
      </template>
      <template #tool-bar-right>
        <el-button v-if="hasAuth['U21']"
                   type="success"
                   round
                   plain
                   icon="el-icon-circle-plus-outline"
                   @click="openDialog('create')">創建</el-button>
      </template>
    </ToolBar>
    <CustomTable stripe
                 :showSummary="false"
                 :tableData="formatUserList"
                 :columnConfig="columnConfig"
                 :operationConfig="operationConfig"
                 @handleOperate="handleOperate"
                 @handleJumpPage="handleJumpPage"
                 @handleAdjustPageSize="handleAdjustPageSize" />
    <CreateUserDialog :propDialogSwitch="dialogSwitch.create"
                      type="create"
                      @closeDialogAndReload="closeDialogAndReload"
                      @closeDialog="closeDialog" />

    <EditUserPwdDialog :propDialogSwitch="dialogSwitch.editPwd"
                       type="editPwd"
                       :currRowData="currRowData"
                       @closeDialog="closeDialog" />
    <EditUserAuthDialog :propDialogSwitch="dialogSwitch.editAuth"
                        type="editAuth"
                        :currRowData="currRowData"
                        @closeDialogAndReload="closeDialogAndReload"
                        @closeDialog="closeDialog" />
    <ConfirmDialog :propDialogSwitch="dialogSwitch.delete"
                   btnName="刪除"
                   desc="確認刪除使用者"
                   title="刪除確認"
                   type="delete"
                   @closeDialog="closeDialog('delete')"
                   @handleConfirm="handleDeleteAPI" />
  </div>
  <div v-else>
    <NoAuth />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import CustomTable from '@/components/custom/CustomTable.vue';
import CustomSearch from '@/components/search/CustomSearch.vue';
import ToolBar from '@/components/global/ToolBar.vue';
import CreateUserDialog from '@/components/user/CreateUserDialog.vue';
import EditUserAuthDialog from '@/components/user/EditUserAuthDialog.vue';
import EditUserPwdDialog from '@/components/user/EditUserPwdDialog.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';
import NoAuth from '@/views/NoAuth.vue';

import { badResHelper, customMsgHelper } from '@/utils/msgHelper';
import { IuserList, IdeleteUser } from '@/interface/userTyping';
import { columnConfig, operationConfig, searchConfig } from '@/config/userConfig';
import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  components: {
    CustomTable,
    CustomSearch,
    ToolBar,
    CreateUserDialog,
    EditUserAuthDialog,
    EditUserPwdDialog,
    ConfirmDialog,
    NoAuth,
  },
  metaInfo: {
    title: '-使用者管理',
  },
})
export default class User extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('userStore').State)
  public userList: any;
  @(namespace('userStore').Getter)
  public formatUserList: any;
  @(namespace('userStore').Action)
  public getUserList: any;

  public payload: IuserList = {
    condition: {
      beginAt: '',
      endAt: '',
      user: '',
      orderRule: [],
    },
    pager: {
      pageIndex: 1,
      pageSize: 10,
    },
  };

  public searchConfig = searchConfig;
  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;
  public currRowData: any = {};

  public dialogSwitch: { [key: string]: boolean } = {
    create: false,
    editPwd: false,
    editAuth: false,
    delete: false,
  };

  public openDialog(type: string) {
    this.dialogSwitch[type] = true;
  }

  public closeDialog(type: string) {
    this.dialogSwitch[type] = false;
  }

  public closeDialogAndReload(type: string) {
    this.closeDialog(type);
    this.fetchUserList();
  }

  public handleOperate(info: any) {
    this.currRowData = info.row;

    const matchDialogKey: { [key: string]: string } = {
      edit: 'editAuth',
      key: 'editPwd',
      delete: 'delete',
    };

    this.openDialog(matchDialogKey[info.type]);
  }

  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchUserList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchUserList();
  }

  public handlSearchParams(params: any) {
    const { dateRange, user }: { dateRange: string[]; user: string } = params;

    this.payload.condition.beginAt = dateRange[0];
    this.payload.condition.endAt = dateRange[1];
    this.payload.condition.user = user;
    this.payload.pager.pageIndex = 1;

    this.fetchUserList();
  }

  public async handleDeleteAPI() {
    const payload: IdeleteUser = {
      id: this.currRowData._id,
    };

    try {
      await userService.removeUserAPI(payload);
      this.closeDialogAndReload('delete');
    } catch (e) {
      console.log(e);
    }
  }

  public async fetchUserList() {
    try {
      this.getUserList(this.payload);
    } catch (e) {
      console.log(e);
      // badResHelper(e);
    }
  }

  public created() {
    this.fetchUserList();
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>