<template>
  <el-dialog :title="$attrs.title"
             :visible.sync="dialogSwitch"
             @close="closeDialog">

    <FreeContainer :padding="'0 0 60 0'">
      <slot>

      </slot>
    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button type="primary"
                 class="re-normal-btn"
                 @click="handleEvent">{{$attrs.btnName}}</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';

import SubTitle from '@/components/global/SubTitle.vue';
import DivideLine from '@/components/global/DivideLine.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';

@Component({
  components: {
    SubTitle,
    DivideLine,
    FreeContainer,
    CustomInput,
    CustomSelect,
  },
})
export default class CustomDialog extends Vue {
  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  // 內部狀態
  public dialogSwitch: boolean = false;

  public closeDialog() {
    this.$emit('closeDialog', this.$attrs.type);
  }

  public handleEvent() {
    this.$emit('handleEvent', this.$attrs.type);
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

/deep/ .row-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .custom-input-same {
    &:nth-child(3n + 2) {
      margin-left: 16px;
    }

    &:nth-child(3n + 3) {
      margin-left: 16px;
    }

    // 多排顯示
    margin-top: 32px;

    &:first-child {
      margin-top: 0px;
    }

    &:nth-child(2) {
      margin-top: 0px;
    }

    &:nth-child(3) {
      margin-top: 0px;
    }
  }
}
</style>