<template>
  <el-dialog title="替換此圖"
             :visible.sync="dialogSwitch"
             @close="closeDialog">
    <FreeContainer :padding="'0 0 60 0'">
      <CustomInput v-model="form.customName"
                   :ruleList="['isEmpty']"
                   labelName="圖片名稱"
                   ref="customName" />
      <el-upload class="upload-demo"
                 action="https://jsonplaceholder.typicode.com/posts/"
                 :on-change="handleChange"
                 :file-list="fileList"
                 :limit="1"
                 :auto-upload="false">
        <el-button slot="trigger"
                   size="small"
                   round
                   plain
                   type="primary">選擇照片</el-button>

      </el-upload>
    </FreeContainer>
    <span slot="footer"
          class="dialog-footer">
      <el-button class="re-normal-btn"
                 type="primary"
                 round
                 plain
                 @click="handleUploadImage">確定替換</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';

import { customMsgHelper } from '@/utils/msgHelper';

import { Iregister } from '@/interface/userTyping';
import { IeditImage } from '@/interface/imageTyping';

import ImageService from '@/services/imageService';
const imageService = new ImageService();

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
  },
})
export default class EditNewImageDialog extends Vue {
  @Prop({ default: () => {} })
  public currRowData: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  public form: IeditImage = {
    id: '',
    customName: '',
    imageUrl: '',
  };

  public fileList: any[] = [];
  public file: any;

  // 內部狀態
  public dialogSwitch: boolean = false;

  public clearValue() {
    this.fileList = [];
    this.file = null;
    this.form.customName = '';
    this.form.imageUrl = '';
  }

  public closeDialog(reload: boolean = false) {
    this.clearValue();
    if (reload) {
      this.$emit('closeDialogAndReload', this.$attrs.type);
    } else {
      this.$emit('closeDialog', this.$attrs.type);
    }
  }

  public async handleUploadImage() {
    let isPass: boolean = false;
    isPass = (this as any).validateForm(this.$refs);

    if (this.file === undefined || this.file === null) {
      isPass = false;
      customMsgHelper('error', '請選擇圖片');
    }

    if (!isPass) {
      return;
    }

    // 產生亂碼作為檔名
    const randomNumber = String(Date.now()) + String(Math.floor(Math.random() * 99999));

    try {
      // 送到後端驗證伺服器，並回傳上傳url
      const imageKeyAndImage: any = await imageService.getSignedUrl({ imageType: this.file.type, randomNumber });

      // 上傳到AWS S3
      await imageService.uploadImageToS3({
        url: imageKeyAndImage.data.url,
        file: this.file,
      });
    } catch (e) {
      console.log(e);
    }

    // 圖片網址
    const imageType = this.file.type.replace('image/', '');
    const imgUrl = `https://opzo-blog-images-store.s3.ap-northeast-1.amazonaws.com/node-${randomNumber}.${imageType}`;

    this.form.imageUrl = imgUrl;
    this.form.id = this.currRowData._id;

    try {
      await imageService.editImageAPI(this.form);
      this.closeDialog(true);
    } catch (e) {
      console.log(e);
    }
  }

  public created() {}

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }

  public handleChange(file: any) {
    this.file = file.raw;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>