<template>
  <div class="custom-search"
       @keydown.enter="handleSearchValue">
    <div class="search-type-box"
         v-for="(config,index) of configList"
         :key="index">
      <SearchSelectorCom v-if="config.type === 'selector'"
                         v-model="config.value"
                         :selectorConfig="config" />

      <SearchInputCom v-if="config.type === 'input'"
                      v-model="config.value"
                      :inputConfig="config" />

      <SearchDatePickerCom v-if="config.type === 'dateRangePicker'"
                           v-model="config.value"
                           :datePickerConfig="config" />

    </div>

    <!-- <i class="el-icon-search icon-search"
     >搜尋</i> -->

    <el-button type="primary"
               round
               plain
               class="icon-search"
               icon="el-icon-search"
               @click="handleSearchValue">搜尋</el-button>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import dayjs from 'dayjs';

import SearchSelectorCom from '@/components/search/SearchSelectorCom.vue';
import SearchInputCom from '@/components/search/SearchInputCom.vue';
import SearchDatePickerCom from '@/components/search/SearchDatePickerCom.vue';

@Component({
  components: {
    SearchSelectorCom,
    SearchInputCom,
    SearchDatePickerCom,
  },
})
export default class CustomSearch extends Vue {
  @Prop({ default: () => [] })
  public searchConfig: any;

  public configList: any[];

  public created() {
    this.setDefaultValue();
  }

  public setDefaultValue() {
    // 設值
    this.configList = this.searchConfig.map((item: any) => {
      item.value = item.defaultValue;
      return item;
    });
  }

  public handleSearchValue() {
    let searchParams: any = {};
    this.configList.forEach((item: any) => {
      searchParams[item.key] = item.value;

      if (item.type === 'dateRangePicker') {
        // null 發生在清除日期時, 空值發生在預設值為空時，這裡只判斷一個
        if (item.value === null || item.value[0] === '') {
          searchParams.dateRange = ['', ''];
        } else {
          item.value[0] = dayjs(item.value[0]).format('YYYY-MM-DD HH:mm:ss');
          item.value[1] = dayjs(item.value[1])
            .add(86399, 'second')
            .format('YYYY-MM-DD HH:mm:ss');
        }
      }
    });

    // console.log('searchParams---', searchParams);

    this.$emit('handlSearchParams', searchParams);
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.custom-search {
  display: inline-block;
}

.search-type-box {
  display: inline-block;

  & + & {
    margin-left: 16px;
  }
}

.search-btn {
  margin-left: 32px;
}

.icon-search {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
</style>