<template>
  <div class="search-time-picker-com search-com">
    <el-date-picker v-model="innerValue"
                    @input="$emit('input', innerValue);"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="開始日期"
                    end-placeholder="結束日期"
                    @change="handleChange"
                    :picker-options="pickerOptions">
    </el-date-picker>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';
import dayjs from 'dayjs';
import { setTime } from '@/utils/usefulHelper';

@Component({})
export default class SearchDatePickerCom extends Vue {
  @Prop({
    default: () => {
      return { placeholder: '請輸入', options: [] };
    },
  })
  public datePickerConfig: any;

  @Prop({ default: () => [] })
  public value: any[];

  public innerValue: any[] = this.value;

  public pickerOptions = {
    shortcuts: [
      {
        text: '最近一週',
        onClick(picker: any) {
          const start = setTime('day-subtract-7', 'YYYY-MM-DD HH:mm:ss');
          const end = setTime('day-0-0', 'YYYY-MM-DD HH:mm:ss');

          picker.$emit('pick', [start, end]);
        },
      },
      {
        text: '最近一個月',
        onClick(picker: any) {
          const start = setTime('month-subtract-1', 'YYYY-MM-DD HH:mm:ss');
          const end = setTime('day-0-0', 'YYYY-MM-DD HH:mm:ss');

          picker.$emit('pick', [start, end]);
        },
      },
      {
        text: '最近三個月',
        onClick(picker: any) {
          const start = setTime('month-subtract-3', 'YYYY-MM-DD HH:mm:ss');
          const end = setTime('day-0-0', 'YYYY-MM-DD HH:mm:ss');

          picker.$emit('pick', [start, end]);
        },
      },
    ],
  };

  public handleChange(value: any) {
    console.log('date---', value);
  }

  @Watch('value')
  public setValue() {
    this.innerValue = this.value;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.search-time-picker-com {
  display: inline-block;

  .search-selector {
    width: 250px;
  }
}
</style>