<template>
  <div class="search-selector-com search-com">
    <el-select class="search-selector"
               v-model="innerValue"
               @input="$emit('input', innerValue);"
               :placeholder="selectorConfig.placeholder">
      <el-option v-for="item in allOptions"
                 :key="item.value"
                 :label="item.label"
                 :value="item.value"
                 :disabled="item.disabled">
      </el-option>
    </el-select>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class CustomSelecortCom extends Vue {
  @Prop({
    default: () => {
      return { placeholder: '請輸入', options: [] };
    },
  })
  public selectorConfig: any;

  @Prop({ default: () => '' })
  public value: string;
  public innerValue: string = this.value;

  public get allOptions() {
    let defaultOptions: any[] = [
      {
        label: '請選擇',
        value: -1,
        disabled: true,
      },
    ];

    if (this.selectorConfig.options) {
      defaultOptions = [...defaultOptions, ...this.selectorConfig.options];
    }

    return defaultOptions;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.search-selector-com {
  display: inline-block;

  .search-selector {
    width: 250px;
  }
}
</style>