<template>
  <div class="search-input-com search-com">
    <el-input class="search-input"
              v-model="innerValue"
              :placeholder="inputConfig.placeholder"
              @input="$emit('input', innerValue);" />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

@Component({})
export default class CustomInputCom extends Vue {
  @Prop({
    default: () => {
      return { placeholder: '請輸入' };
    },
  })
  public inputConfig: any;

  @Prop({ default: () => '' })
  public value: string;
  public innerValue: string = this.value;

  @Watch('value')
  public setValue() {
    console.log('hahaha', this.innerValue, this.value);
    this.innerValue = this.value;
    console.log('hahaha', this.innerValue, this.value);
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.search-input-com {
  display: inline-block;

  .search-input {
    width: 250px;
  }
}
</style>