<template>
  <div id="app">
    <router-view v-if="noBaseLayout" />

    <!-- 預設 -->
    <!-- <router-view v-else /> -->

    <!-- 左右佈局 -->
    <!-- <LayoutLeftRight v-else>
      <router-view />
    </LayoutLeftRight> -->

    <!-- 上下佈局 -->
    <!-- <LayoutTopBotton v-else>
      <router-view />
    </LayoutTopBotton> -->

    <!-- 自定義佈局 -->
    <LayoutCustom v-else>
      <router-view />
    </LayoutCustom>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import LayoutCustom from '@/layout/LayoutCustom.vue';
// import LayoutLeftRight from '@/layout/LayoutLeftRight.vue';
// import LayoutTopBotton from '@/layout/LayoutTopBotton.vue';
import LoadPermission from '@/mixins/LoadPermission.vue';

import { IgetNewsList, IremoveNews } from '@/interface/newsTyping';

import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  metaInfo: {
    title: '',
    titleTemplate: 'App%s', // 每一頁的title這裡會取代%s
  },
  components: {
    LayoutCustom,
    // LayoutLeftRight,
    // LayoutTopBotton,
  },
})
export default class App extends Mixins(LoadPermission) {
  @(namespace('newsStore').Action)
  public getNewsList: any;

  public get noBaseLayout() {
    // 不需要基本佈局的頁面名字寫在陣列內
    const noBaseLayoutPages = ['login'];
    return noBaseLayoutPages.indexOf((this as any).$route.name) >= 0;
  }

  public async loadPermission() {
    // 若在login頁面直接返回;
    if (this.$route.name === 'login') {
      return;
    }

    await this.loadPermissionAPI();
  }

  public created() {
    this.loadPermission();
  }
}
</script>

<style  lang="scss">
@import '~@/styles/index';
</style>


