<template>
  <el-dialog title="新增權限群組"
             :visible.sync="dialogSwitch"
             @close="closeDialog">

    <FreeContainer :padding="'0 0 60 0'">

      <CustomInput v-model="form.authId"
                   labelName="權限代號"
                   :ruleList="['isEmpty']"
                   ref="authId" />

      <CustomSelect v-model="form.belongGroup"
                    :selectorConfig="belongGroupConfig"
                    labelName="所屬權限"
                    :ruleList="['notSelect']"
                    ref="belongGroup" />

      <CustomInput v-model="form.desc"
                   labelName="權限說明"
                   :ruleList="['isEmpty']"
                   ref="desc" />

    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button class="re-normal-btn"
                 type="primary"
                 round
                 plain
                 @click="createAuthGroup">新增</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';
import LabelTitle from '@/components/global/LabelTitle.vue';

import { IauthCreate } from '@/interface/authTyping';
import AuthService from '@/services/authService';
const authService = new AuthService();

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
    LabelTitle,
  },
})
export default class CreateAuthDialog extends Vue {
  @(namespace('authStore').State)
  public authList: any;
  @(namespace('authStore').Action)
  public getAuthList: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  @Prop({ default: () => [] })
  public searchConfig: any;

  public storageAuthList = [];
  public form: IauthCreate = {
    authId: '',
    belongGroup: '',
    desc: '',
  };

  // 內部狀態
  public dialogSwitch: boolean = false;

  public get belongGroupConfig() {
    if (!Array.isArray(this.searchConfig)) {
      return {};
    }

    for (const ele of this.searchConfig) {
      if (ele.key === 'belongGroup') {
        return ele;
      }
    }

    return {};
  }

  public clearValue() {
    for (const key in this.form) {
      this.form[key] = '';
    }
  }

  public closeDialog(reload: boolean = false) {
    this.clearValue();

    if (reload) {
      this.$emit('closeDialogAndReload', this.$attrs.type);
    } else {
      this.$emit('closeDialog', this.$attrs.type);
    }
  }

  // 建立權限群組API
  public async createAuthGroup() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    try {
      console.log('form---', this.form);

      await authService.createAuthAPI(this.form);
      this.closeDialog(true);
    } catch (e) {
      console.log(e);
    }
  }

  // 取得權限列表API
  private async fetchAuthList() {
    try {
      await this.getAuthList();
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    // this.fetchAuthList();
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>