<template>
  <el-dialog title="當前權限群組使用者列表"
             :visible.sync="dialogSwitch"
             @close="closeDialog">
    <FreeContainer :padding="'0 0 60 0'">
      <CustomTable stripe
                   :showSummary="false"
                   :tableData="authGroupUserList"
                   :columnConfig="columnConfig"
                   :operationConfig="operationConfig"
                   :height="300"
                   @handleOperate="handleOperate"
                   @handleJumpPage="handleJumpPage"
                   @handleAdjustPageSize="handleAdjustPageSize" />
    </FreeContainer>
    <ConfirmDialog :propDialogSwitch="isConfirmDialogOpen"
                   btnName="刪除"
                   desc="確認刪除此使用者與此權限的連結"
                   title="刪除確認"
                   type="delete"
                   @closeDialog="closeConfirmDialog"
                   @handleConfirm="handleDeleteAPI"
                   :isAppend="true" />
  </el-dialog>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomTable from '@/components/custom/CustomTable.vue';
import ConfirmDialog from '@/components/global/ConfirmDialog.vue';

import { columnConfig, operationConfig } from '@/config/authGroupUserConfig';
import { IauthGroupCurrGroupUserList } from '@/interface/authGroupTyping';
import { IremoveUserAuthGroup } from '@/interface/userTyping';

import UserService from '@/services/userService';
const userService = new UserService();

@Component({
  components: {
    SubTitle,
    FreeContainer,

    CustomTable,
    ConfirmDialog,
  },
})
export default class CurrGroupUserDialog extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;
  @(namespace('authGroupStore').State)
  public authGroupUserList: any;
  @(namespace('authGroupStore').Action)
  public getAuthGroupUserList: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  // 權限群組row資料
  @Prop({ default: () => {} })
  public currRowData: any;

  @Prop({ default: () => [] })
  public searchConfig: any;

  public storageAuthList = [];
  public payload: IauthGroupCurrGroupUserList = {
    condition: {
      id: '',
      orderRule: [],
    },
    pager: {
      pageIndex: 1,
      pageSize: 3,
    },
  };

  public columnConfig: any = columnConfig;
  public operationConfig: any = operationConfig;

  // 當前彈窗的表格Row資料
  public currUserData: any = {};

  // 內部狀態
  public dialogSwitch: boolean = false;

  public get belongGroupConfig() {
    if (!Array.isArray(this.searchConfig)) {
      return {};
    }

    for (const ele of this.searchConfig) {
      if (ele.key === 'belongGroup') {
        return ele;
      }
    }

    return {};
  }

  public isConfirmDialogOpen: boolean = false;

  public openConfirmDialog() {
    this.isConfirmDialogOpen = true;
  }

  public closeConfirmDialog() {
    console.log('inner close');
    this.isConfirmDialogOpen = false;
  }

  public handleOperate(info: any) {
    this.currUserData = info.row;

    if (info.type === 'delete') {
      this.openConfirmDialog();
    } else {
      console.log('不該出現這個log ...');
    }
  }

  public closeDialog(reload: boolean = false) {
    this.$emit('closeDialog', this.$attrs.type);
  }

  public async handleDeleteAPI() {
    const payload: IremoveUserAuthGroup = {
      id: this.currUserData._id,
      removeAuthGroupId: this.currRowData._id,
    };

    try {
      await userService.removeUserAuthAPI(payload);

      this.closeConfirmDialog();
      this.fetchGroupUserList();
    } catch (e) {
      console.log(e);
    }
  }

  public handleJumpPage(targetPage: number) {
    this.payload.pager.pageIndex = targetPage;
    this.fetchGroupUserList();
  }

  public handleAdjustPageSize(pageSize: number) {
    this.payload.pager.pageSize = pageSize;
    this.fetchGroupUserList();
  }

  // 取得權限列表API
  private async fetchGroupUserList() {
    this.payload.condition.id = this.currRowData._id;

    try {
      await this.getAuthGroupUserList(this.payload);
    } catch (e) {
      console.log(e);
    }
  }

  public created() {}

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;

    if (this.dialogSwitch) {
      this.fetchGroupUserList();
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.inner-dialog {
  /deep/ .el-dialog {
    width: 100%;
    max-width: 320px;
  }

  /deep/ .el-dialog__body {
    padding: 10px 32px 32px 32px;
  }
}
</style>