<template>
  <el-dialog title="編輯權限群組"
             :visible.sync="dialogSwitch"
             @close="closeDialog">

    <FreeContainer :padding="'0 0 60 0'">

      <CustomInput v-model="form.groupName"
                   labelName="權限名稱"
                   :ruleList="['isEmpty']"
                   ref="user" />

      <el-transfer v-model="form.authList"
                   :data="storageAuthList"></el-transfer>

    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button class="re-normal-btn"
                 type="primary"
                 round
                 plain
                 @click="editAuthGroup">確認編輯</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';

import { IcreateAuthGroup, IeditAuthGroup } from '@/interface/authGroupTyping';
import { IgetAuthList } from '@/interface/authTyping';
import AuthGroupService from '@/services/authGroupService';
import { IeditNews } from '../../interface/newsTyping';
const authGroupService = new AuthGroupService();

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
  },
})
export default class EditAuthGroupDialog extends Vue {
  @(namespace('authStore').State)
  public authList: any;
  @(namespace('authStore').Action)
  public getAuthList: any;

  @Prop({ default: () => {} })
  public currRowData: any;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  public storageAuthList = [];
  public form: IcreateAuthGroup = {
    groupName: '',
    authList: [],
  };

  // 內部狀態
  public dialogSwitch: boolean = false;

  public clearValue() {
    this.form.groupName = '';
    this.form.authList = [];
  }

  public closeDialog(reload: boolean = false) {
    this.clearValue();

    if (reload) {
      this.$emit('closeDialogAndReload', this.$attrs.type);
    } else {
      this.$emit('closeDialog', this.$attrs.type);
    }
  }

  public setValue() {
    this.form.groupName = this.currRowData.groupName;
    this.form.authList = this.currRowData.authList;
  }

  public generateAuthList() {
    this.storageAuthList = this.authList.items.map((item: any) => {
      return {
        key: item.authId,
        label: item.desc,
      };
    });
  }

  // 編輯權限群組API
  public async editAuthGroup() {
    const isPass: boolean = (this as any).validateForm(this.$refs);
    if (!isPass) {
      return;
    }

    try {
      console.log(this.currRowData);
      const payload: IeditAuthGroup = Object.assign({}, this.form, { id: this.currRowData._id });

      await authGroupService.editGroupAPI(payload);
      this.closeDialog(true);
    } catch (e) {
      console.log(e);
    }
  }

  // 取得權限列表API
  private async fetchAuthList() {
    const payload: IgetAuthList = {
      condition: {
        belongGroup: '',
        orderRule: [],
      },
      pager: {
        pageIndex: 1,
        pageSize: Number.MAX_SAFE_INTEGER,
      },
    };
    try {
      await this.getAuthList(payload);
      this.generateAuthList();
    } catch (e) {
      console.log(e);
    }
  }

  public created() {
    this.fetchAuthList();
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;

    if (this.dialogSwitch) {
      this.setValue();
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';
</style>