<template>
  <!-- 自定義基本佈局 -->
  <section class="layout-custom-section">
    <aside class="layout-aside">

      <div class="main-menu-wrapper">
        <ul class="menu-list">
          <li class="menu-item"
              v-for="item of filterAuthMenuData"
              :key="item.iconName"
              @click="handleRoute(item.path)">
            <i class="menu-icon"
               :class="[{'route-active': isRouteActive(item.name)}, item.iconName]"></i>

          </li>
        </ul>
      </div>

      <div class="logout-btn-wrapper">
        <p class="logout-text"
           @click="handleLogout('/')">登出</p>
      </div>
    </aside>
    <div class="layout-main">
      <div class="layout-content">
        <slot></slot>
      </div>
    </div>

  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';
// component
import SectionContainer from '@/components/global/SectionContainer.vue';
// data
import menuData from '@/router/menu';

@Component({
  components: {
    SectionContainer,
  },
})
export default class LayoutCustom extends Vue {
  @(namespace('userStore').Getter)
  public hasAuth: any;

  public menuData: any = menuData;

  public get filterAuthMenuData() {
    const pureMenuData: any = this.menuData
      .map((item: any) => {
        delete item.component;

        return item;
      })
      .filter((item: any) => {
        const isAuthCodeExist: boolean = Object.keys(this.hasAuth).includes(item.authCode);
        return isAuthCodeExist;
      });

    return pureMenuData;
  }

  public handleRoute(route: string) {
    this.$router.push(route);
  }

  public handleLogout() {
    localStorage.clear();
    this.$router.push('/');
  }

  public isRouteActive(routeName: string): boolean {
    if (this.$route.name === routeName) {
      return true;
    } else {
      return false;
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.layout-custom-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.layout-aside {
  width: auto;
  height: 100%;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  background-color: $c-aside;

  .main-menu-wrapper {
    flex: 1;
  }

  .logout-btn-wrapper {
    flex: none;
    height: auto;
  }
}

.layout-main {
  flex: 1;
  width: 100%;
  @include box-padding(15px);
  overflow: auto;
}

.layout-content {
  height: 100%;
  overflow: auto;
}

.logout-text {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
  cursor: pointer;
  color: $c-assist3;

  &:hover {
    color: $c-white;
  }
}

//

.main-menu-wrapper {
  margin-top: 100px;
}

.menu-item {
  height: 50px;
  width: 60px;
  position: relative;
  cursor: pointer;
  color: $c-assist3;
}

.menu-item {
  &:hover {
    .menu-icon {
      color: $c-main1;
    }
  }

  .menu-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: $fs-24;
  }

  .route-active {
    color: $c-main1;
  }
}
</style>