<template>
  <!-- 左右佈局 -->
  <section class="layout-left-right-section">
    <div class="layout-left-right-content">
      <aside class="layout-aside">

      </aside>
      <div class="layout-header-main-wrapper">
        <header class="layout-header">
          header
        </header>
        <main class="layout-main">
          <slot>main</slot>
        </main>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

import menuData from '@/router/menu';

@Component({
  components: {},
})
export default class LayoutLeftRight extends Vue {
  public menuData: any = menuData;
  public currPageTitle: string = '';
  public titleRouteMatchList: any = {};

  // 路由跳頁
  public handleRoute(routeName: string) {
    this.$router.push({ name: routeName });
  }

  public created() {
    //  取得所有路由
    const allMenu = this.menuData.map((item: any) => {
      return item.subMenu;
    });

    // 重組成 {路由名: 頁面名}
    allMenu.forEach((item: any) => {
      item.forEach((innerItem: any) => {
        this.titleRouteMatchList[innerItem.name] = innerItem.title;
      });
    });
  }

  public get currRoute() {
    return this.$route.name || '';
  }

  @Watch('currRoute')
  public setTitle() {
    const routeNameList: string[] = Object.keys(this.titleRouteMatchList);
    const isRouteMatch: boolean = routeNameList.includes(this.currRoute);

    if (isRouteMatch) {
      this.currPageTitle = this.titleRouteMatchList[this.currRoute];
    } else {
      this.currPageTitle = '';
    }
  }
}
</script>


<style lang="scss" scoped>
.layout-left-right-section {
  width: 100%;
}

.layout-left-right-content {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout-aside {
  flex: none;
  width: 200px;
  background-color: #999;
}

.layout-header-main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-header {
  width: 100%;
  height: 50px;
  background-color: #ccc;
}

.layout-main {
  flex: 1;
  height: 100%;
  background-color: #eee;
  overflow: auto;
}
</style>