<template>
  <el-dialog :title="$attrs.title"
             :visible.sync="dialogSwitch"
             @close="closeDialog"
             :append-to-body="isAppend">

    <FreeContainer>
      {{ $attrs.desc}}
    </FreeContainer>

    <span slot="footer"
          class="dialog-footer">
      <el-button type="danger"
                 round
                 plain
                 @click="handleConfirm">{{ btnName }}</el-button>
    </span>
  </el-dialog>

</template>

<script lang="ts">
import { Component, Vue, Prop, Emit, Watch } from 'vue-property-decorator';

import SubTitle from '@/components/global/SubTitle.vue';
import FreeContainer from '@/components/global/FreeContainer.vue';
import CustomInput from '@/components/custom/CustomInput.vue';
import CustomSelect from '@/components/custom/CustomSelect.vue';
import CustomSelectMultiple from '@/components/custom/CustomSelectMultiple.vue';
import CustomSwitch from '@/components/custom/CustomSwitch.vue';

import { Iregister } from '@/interface/userTyping';

@Component({
  components: {
    SubTitle,
    FreeContainer,
    CustomInput,
    CustomSelect,
    CustomSelectMultiple,
    CustomSwitch,
  },
})
export default class ConfirmDialog extends Vue {
  @Prop({ default: () => '確定' })
  public btnName: string;

  //  彈窗中的二次彈窗這裡要寫true
  @Prop({ default: () => false })
  public isAppend: boolean;

  @Prop({ default: () => false })
  public propDialogSwitch: boolean;

  // 內部狀態
  public dialogSwitch: boolean = false;

  public closeDialog() {
    console.log('are you working ?');
    this.$emit('closeDialog', this.$attrs.type);
  }

  public handleConfirm() {
    this.$emit('handleConfirm');
  }

  // 控制的是父層，將prop轉為內部狀態
  @Watch('propDialogSwitch')
  public controlSwitch() {
    this.dialogSwitch = this.propDialogSwitch;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

/deep/ .el-dialog {
  width: 100%;
  max-width: 320px;
}

/deep/ .el-dialog__body {
  padding: 10px 32px 32px 32px;
}
</style>