<template>
  <div class="free-container"
       :style="`padding: ${paddingValue}; margin: ${marginValue}; background-color: ${bgc}; box-shadow:${shadow}; border:${border}; border-radius:${radius}`"
       :class="{'isInlineBlock': isInlineBlock}">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class FreeContainer extends Vue {
  @Prop({ default: () => '0 0 0 0' })
  public isInlineBlock: string;

  @Prop({ default: () => '0 0 0 0' })
  public padding: string;

  @Prop({ default: () => '0 0 0 0' })
  public margin: string;

  @Prop({ default: () => 'transparent' })
  public bgc: string;

  @Prop({ default: () => '' })
  public shadow: string;

  @Prop({ default: () => '' })
  public border: string;

  @Prop({ default: () => '' })
  public radius: string;

  public get paddingValue() {
    const getPadding = this.padding.split(' ');

    const paddingParam = getPadding[0] + 'px ' + getPadding[1] + 'px ' + getPadding[2] + 'px ' + getPadding[3] + 'px';

    return paddingParam;
  }

  public get marginValue() {
    const getMargin = this.margin.split(' ');

    const marginParam = getMargin[0] + 'px ' + getMargin[1] + 'px ' + getMargin[2] + 'px ' + getMargin[3] + 'px';

    return marginParam;
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.free-container {
  width: 100%;
  box-sizing: border-box;
}

.isInlineBlock {
  display: inline-block;
}
</style>
