<template>
  <div class="label-data-com label-info-same"
       :class="calcWitdh">

    <label class="ld-l"
           :class="calcWitdh">{{ $attrs.labelName}}</label>
    <span class="ld-d"
          :class="calcWitdh">{{ $attrs.data}}</span>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class LabelData extends Vue {
  @Prop({ default: () => '3' })
  public cols: string;

  public get calcWitdh() {
    if (this.cols === '3') {
      return 'w240';
    }

    return 'w368';
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.label-data-com {
  display: inline-block;
  box-sizing: border-box;
}

.ld-l {
  display: inline-block;

  @include font-style($c-assist4, $fs-12, $fw-700);
}

.ld-d {
  margin-top: 8px;
  display: inline-block;

  @include font-style($c-assist4, $fs-14, $fw-400);
}

.w240 {
  width: 240px;
}

.w368 {
  width: 368px;
}
</style>