<template>
  <label class="label-title-com">{{ $attrs.labelName}}</label>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

@Component({})
export default class LabelTitle extends Vue {}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.label-title-com {
  display: inline-block;
  margin-bottom: 15px;
}
</style>