<template>
  <div class="space-com"
       :style="`padding: ${paddingValue.top} ${paddingValue.right} ${paddingValue.bottom} ${paddingValue.left};`">

  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component({})
export default class Space extends Vue {
  @Prop({ default: () => '0 0 0 0' })
  public padding: string;

  public get paddingValue() {
    const getPadding = this.padding.split(' ');

    return {
      top: getPadding[0] + 'px',
      right: getPadding[1] + 'px',
      bottom: getPadding[2] + 'px',
      left: getPadding[3] + 'px',
    };
  }
}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.space-com {
  box-sizing: border-box;
}
</style>