<template>
  <p class="sub-title-com">
    {{ $attrs.subTitle}}
  </p>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class SubTitle extends Vue {}
</script>

<style lang="scss" scoped>
@import '~@/styles/index';

.sub-title-com {
  @include font-style($c-assist4, $fs-12, $fw-700);
  margin-bottom: 32px;
}
</style>